<h2>New Parser Managers</h2>

<form method="post" phx-submit="save">
  <fieldset>
    <label for="nameField">URL</label>
    <input type="url" placeholder="Please enter the url" name="url">
  </fieldset>
  <input type="submit" class="button" value="Save">
</form>
